@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo",
    "Malgun Gothic", "Segoe UI", sans-serif;
}
